---
import Head from './_Head.astro';
import { Nav } from '../components/Nav';
---

<!doctype html>
<html lang="en">
	<Head>
		<title>snailyLuke</title>
	</Head>

	<body>
    <header class="page-header">
      <h1>snailyLuke</h1>
      <Nav />
    </header>
    <p>i'm luke! i make websites and also art and music! but i don't make much music these days. but i used to!</p>
	</body>
</html>
