---
import Head from '../components/Head.astro';
import Nav from '../components/Nav.astro';
---

<!doctype html>
<html lang="en">
	<Head>
		<title>snailyLuke</title>
	</Head>

	<body>
    <header class="page-header">
      <h1>snailyLuke</h1>
      <Nav />
    </header>
		<p>this is snaily luke's website !</p>
	</body>
</html>
