<nav>
	<a href="/">home</a>
	<a href="/music"> music</a>
</nav>

<style>
	nav {
		display: flex;
		width: fit-content;
		background-color: darkslateblue;
		padding: 1rem 3rem;
		gap: 3rem;
		font-size: 1.3rem;
		font-weight: 800;
		letter-spacing: 0.1em;
	}
</style>
